# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
env/
venv/
*.env

# System files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/
